@model Microsoft.AspNetCore.Html.IHtmlContent

<div class="uk-section-default uk-grid uk-child-width-1-1" uk-grid>
    <div class="uk-card uk-card-default uk-card-body">
        <ul class="list-group">
            @Model
        </ul>
    </div>
    <div class="uk-card uk-card-default uk-card-body">
        <ul class="list-group" id="directory-overview">
            @Model
        </ul>
    </div>
</div>

