<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpaceBreeze.UI</title>

    <!-- Uikit -->
    <link rel="stylesheet" href="~/lib/uikit-3.0.3/css/uikit.css" />
    <script src="~/lib/uikit-3.0.3/js/uikit.js"></script>
    <script src="~/lib/uikit-3.0.3/js/uikit-icons.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="unselectable">
    <!-- Navigation block -->
    <nav class="uk-navbar-container" uk-navbar uk-sticky>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo">
                <img src="~/images/logo/spacebreeze.logo2.svg" style="height: 3em;" />
                <span class="uk-visible@l">SpaceBreeze</span>
            </a>
        </div>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li><a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: server; ratio: 1.3;"></span>server</a></li>
                <li><a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: album; ratio: 1.3;"></span>modules</a></li>
                <li><a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: settings; ratio: 1.3;"></span>settings</a></li>
            </ul>
        </div>
    </nav>
    <!-- Content block -->
    <div class="uk-container uk-container-large uk-margin-top">
        @RenderBody()
    </div>
</body>
</html>
